<div ng-controller="employeereportsCtrl">
<form>
<fieldset>
	<div>
	&nbsp;<br>
	&nbsp;<br>
	</div>
	<div>
		<table cellpadding="2" cellspacing="2" border="0">
		<tr></tr>		
		<tr>
		<td><input type="button" ng-click="vendorreport()" value="Generate vendor Report"/><br/><br/></td>
		<tr>
		<tr></tr>		
		<!-- <tr>
		<td><input type="button" ng-click="generate25report()" value="Generate Form25 Report"/><br/><br/></td>
		<tr>
		<tr></tr>
		<tr>
		<td><input type="button" ng-click="generate26report()" value="Generate Form26 Report"/><br/><br/></td>
		<tr>
		<tr></tr>
		<tr>
		<td><input type="button" ng-click="generateQreport()" value="Generate FormQ Report"/><br/></td>
		<tr>
		<tr></tr> -->
		</table>
	</div>
</fieldset>
</form>
</div>