<div ng-controller="homeCtrl">
<form>
<fieldset>
	<div>
	&nbsp;<br>
	&nbsp;<br>
	</div>
	<div>
		<table cellpadding="2" cellspacing="2" border="0">
		<tr></tr>		
		<tr>
		<td><input type="button" ng-click="generatereport()" value="Generate Employee Report"/><br/><br/></td>
		<tr>
		<tr></tr>
		<!-- <tr>
		<td><input type="button" ng-click="createemployee()" value="Create Employee"/><br/><br/></td>
		<tr>
		<tr></tr>
		<tr>
		<td><input type="button" ng-click="searchemployee()" value="Search Employee"/><br/></td>
		<tr>
		<tr></tr>
		</table> -->
	</div>
</fieldset>
</form>
</div>